/* var cores */

:root {
    --branco: #FFF;
	--preto: #000;
	--primary-color: #73001b;
	--secundary-color: #fd646f;
	--tertiary-color: #3753b8;
	--quartenary-color: #5d5d5d;


    --Lato: 'Lato', sans-serif;
}


body{
	margin:0;
	font-family: var(--Lato); 
	font-size: 9pt;
}


a {
	text-decoration: none;
	font-size: 12px;
	font-family: var(--Lato); 
}

a:hover {
	text-decoration: none;
}

ul{
	padding: 0;
	margin:0;
}

li{
	list-style-type: none;
}

p{
	margin: 0;
}

h1, h2, h3, h4{
	margin: 0;
}

/*___Header___*/

header .top-header {
	background-color: var(--secundary-color);
	display: flex;
    justify-content: center;
} 

.top-header-logo {
	padding: 10px;
}

header .top-header-content {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;

}

@media screen and (max-width: 900px) {
    header .top-header-content  {
		flex-direction: column;
		align-items: center;
		display: flex;
	}
}

header .top-header-content .block-right, header .top-header-content .block-left  {
	display: flex;
	margin: 10px;
}

@media screen and (max-width: 610px) {
    header .top-header-content .block-right, header .top-header-content .block-left  {
		margin: 0px;
	}
}

header .tel {
	text-transform: uppercase;
}

header .top-header-content .block-right li a, header .top-header-content .block-left li a {
	color: var(--branco);
	padding: 10px;
	text-transform: uppercase;

}

@media screen and (max-width: 610px) {
    header .top-header-content .block-right li a, header .top-header-content .block-left li a  {
		align-items: center;
		box-sizing: border-box;
        display: flex;

	}
	header .top-header-content .block-right {
		flex-wrap: wrap;
		justify-content: center;
	}
	
}

header .top-header-content .block-right li a:hover, header .top-header-content .block-left li a:hover {
	color: var(--primary-color);
}
header .top-header-content .block-right li:last-child, header .top-header-content .block-left li:last-child  {
	margin-right: 0;
}

header .top-header-content .block-left li .fas {
	margin-right: 10px;
}

header .social {
	padding: 6px;
}

header .top-header-content i {
	color: var(--branco);
}

header .top-header-content a:hover i{
	color: var(--primary-color);
}

.top-header-container {
	display: flex;
	align-items: center;
    justify-content: center;
	max-width: 1200px;
	margin: auto;

}

@media screen and (max-width: 900px) {
    .top-header-container  {
		flex-direction: column;
		align-items: center;
	}
}

.top-header-container .top-header-logo {
	display: flex;
	align-items: center;
    justify-content: center;
}

.top-header-container .top-header-logo img {
	margin-right: 10px;
}

.top-header-container .top-header-search {
	display: flex;
	align-items: center;
    justify-content: center;
	margin: auto;
}

.top-header-search .search {
	border: 1px solid var(--secundary-color);
	border-radius: 8px;

}

.input-search {
	width: 440px;
    height: 45px;
    border-radius: 5px;
	border: none;
	margin-left: 15px;

}

@media screen and (max-width: 610px) {
    .input-search  {
		width: 217px;
	}
}

.input-search:focus-visible {
	outline: none;
}


.search-button {
	border-radius: 5px;
    width: 67px;
    height: 50px;
    background-color: var(--secundary-color);
	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: var(--primary-color);
}

.search-button i {
	color: var(--branco);
	font-size: 20px;
}

.top-header-container .top-header-links ul {
	display: flex;
	align-items: center;
    justify-content: center;
	
}

@media (max-width:900px) {
	.top-header-container .top-header-links ul {
		margin-top: 10px;	
	}
}

.top-header-container .top-header-links a {
	color: var(--quartenary-color);
	margin: 10px;
	display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-weight: bold;
	color: var(--secundary-color);
	text-transform: uppercase;
	text-decoration: none;

}

.top-header-container .top-header-links a:hover {
	color: var(--primary-color);
}
.top-header-container .top-header-links a:hover .fa{
	color: var(--primary-color);
}

.top-header-container .top-header-links .fa {
	margin-right: 4px;
	margin-bottom: 5px;
	font-size: 25px;
	color: var(--secundary-color);
} 

.top-header-links .mini-cart {
	position: relative;
	background-color: var(--branco);
	
}

.top-header-links .number-cart {
	background-color: var(--tertiary-color);
	font-weight: bold;
	position: absolute;
    border-radius: 50px;
    font-size: 10px;
    color: var(--branco);
    top: 0;
    right: 22px;
	justify-content: center;
	height: 20px;
    width: 20px;
	display: flex;
	align-items: center;

}

.top-header-links .mini-cart-wrapper {
	position: absolute;
	background-color: var(--branco);
	right: 0;
	width: 260px;
	border-radius: 15px;
    border: 3px solid var(--secundary-color);
	

}

.top-header-links .mini-cart-wrapper::before {
	content: "";
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid var(--secundary-color);
	position: absolute;
	top: -13px;
	right: 28px;
	
	

}


.top-header-links .mini-cart-wrapper .items {
	display: flex;
	flex-direction: column;


	
}

.top-header-links .mini-cart-wrapper .item {
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-evenly


}

.top-header-links .mini-cart-wrapper .item span {
	font-size: 13px;
	color: var(--preto);
    font-weight: 500;
}

.top-header-links .mini-cart-wrapper .item img {
	max-width: 50px;
}

.mini-cart-wrapper {
	display: none;
	z-index: 2; /* posição: Atrás ou frente de algum elemento. */
}

/*___CAROUSEL___*/

.owl-nav {
	position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	pointer-events: none;
}

.owl-carousel.owl-loaded.owl-drag {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owl-prev, .owl-next {
	max-width: 55px;
	width: 100%;
	height: 55px;
	font-size: 70px !important; 
	background-color: var(--secundary-color) !important;
	border-radius: 8px;
	margin: 5px;
	pointer-events: initial;

}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
	background-color: var(--primary-color)!important;
}

.owl-prev span, .owl-next span {
	position: relative;
	top: -15px;
	color: var(--branco);
}

/*___Menu___*/


.menu-nav ul {
	display: flex;
    margin: 0px;
    justify-content: center;
} 

@media screen and (max-width: 610px) {
    .menu-nav ul  {
		flex-direction: column;
		align-items: center;

	}
}

.menu-nav {
	background-color: var(--secundary-color);
	
}

.menu-nav a {
	padding: 15px 10px;
	display: flex;
	font-size: 13px;
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
	align-items: center;
}

.menu-nav a:hover {
	color: var(--primary-color);
}

.menu-nav i {
	margin-right: 10px;
    font-size: 20px;
}

.btn-mobile {
	display: none;
}

@media (max-width:600px) {
	.btn-mobile {
		display: block;
		background: transparent;
		padding: 10px;
		border: none;
		color: var(--branco);
	}
	.menu-nav ul{
		display: none;
	}
}


.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products:hover .product-image-wrapper .wish-list {
	display: block;
}

.products .product-image-wrapper img {
	transition: 0.5s all;
	cursor: pointer;
	display: block;
}

.products:hover .product-image-wrapper img{
	transform: scale(1.1);
	
}

.products:hover .add-to-cart {
	transform: scale(1.1);
}

.section-products {
	max-width: 1200px;
	width: 100%;
    margin: auto;
	margin-top: 35px;
	
}

.section-products .products-clothes {
	display: flex;
	text-align: center;
	margin-left: 10px;
	justify-content: space-between;
}

.product-name {
	display: flex;
	color: var(--preto);
	font-weight: bold;
    text-transform: uppercase;
	font-size: 15px;
	justify-content: center;
	margin-top: 30px;
	
}

.product-price {
	display: flex;
	color: var(--preto);
	font-weight: bold;
    text-transform: uppercase;
	font-size: 20px;
	justify-content: center;
	margin: 10px;
	
}

.mini-cart-wrapper .add-to-cart {
	max-width: 100%;
	margin: 15px 42px;
	padding: 5px 30px;
}

.add-to-cart {
	padding: 8px 45px;
    border-radius: 50px;
    border: none;
    background-color: var(--tertiary-color);
    margin: 30px 0;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: lowercase;
	max-width: 160px;
	cursor: pointer;
	transition: 0.5s all;

}

.add-to-cart:hover {
	background-color: var(--primary-color);
	transform: scale(1.1);
}

.mini-cart-wrapper .total-price {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

.product-image-wrapper {
	position: relative;
	overflow: hidden;
}

.product-image-wrapper .wish-list {
	position: absolute;
	left: 50px;
	top: 0;
	display: none;
	background-color: var(--tertiary-color);
	color: var(--branco);
	padding: 10px;
	font-weight: bold;
	border-radius: 50px;
	z-index: 1;

}

.mini-cart-wrapper .item .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mini-cart-wrapper .item .info .price {
	font-size: 15px;
} 

.mini-cart-wrapper .item .info .name {
	font-size: 13px;
	margin-bottom: 10px;
}

.product-image-wrapper .promotion {
	position:absolute;
	background-color: var(--tertiary-color);
	color: var(--branco);
	padding: 10px;
	left: 0;
	font-weight: bold;
	border-radius: 50px;
	z-index: 1;
	
}

@media screen and (max-width: 900px) {
	.carousel-banners {
		display: none;
	}
}

.carousel-banners-second {
	max-width: 1200px;
	width: 100%;
    margin: auto;
}

.section-products-second {
	max-width: 1200px;
    margin: auto;
	margin-top: 35px;
}
/* NEWS LETTER */


.section-newsletter .formnewsletter span {
	font-size: 15px;
	color: var(--branco);
	font-weight: bold;
	padding:20px;
	text-transform: uppercase;
}

.formnewsletter input {
	height: 50px;
	padding: 15px;
	box-sizing: border-box;
	border: 0;
	border-radius: 5px;
	margin-right: 10px;
	
}

@media screen and (max-width: 536px) {
	.formnewsletter input  {
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 900px) {
	.formnewsletter input  {
		flex-direction: column;
		align-items: center;
	}
}



.formnewsletter input:focus-visible {
	outline: none;
}



.section-newsletter .formnewsletter {
	display: flex;
	background-color: var(--tertiary-color);
	justify-content: center;
	align-items: center;
	padding: 10px;

}

@media screen and (max-width: 900px) {
    .section-newsletter .formnewsletter  {
		flex-direction: column;
		align-items: center;
	}
}

.section-newsletter .newsletteropen {
	font-size: 60px;
	background-color: var(--tertiary-color);
	color: var(--secundary-color);
}

.section-newsletter .formnewsletter .input-button {
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 536px) {
    .section-newsletter .formnewsletter .input-button  {
		flex-direction: column;
		align-items: center;
	}
}

.section-newsletter #button-register {
	color: var(--branco);
    background-color: var(--secundary-color);
    border-radius: 5px;
    max-width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
	padding: 15px;
}

@media screen and (max-width: 536px) {
    .section-newsletter #button-register {
		margin-top: 10px;
	}
}

.section-newsletter #button-register:hover {
	background-color: var(--primary-color);
}

/*_____FOOTER_____*/

footer {
	text-align: center;
	margin: none;
	background-color: var(--tertiary-color);
	border-top: 3px solid var(--secundary-color);
}

.section-rodape {
	display: flex;
	justify-content: space-between;
	flex-direction: unset;
	font-size: 13px;
    font-weight: bold;
	align-content: center;
    align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;
	max-width: 1200px;
	width: 100%;
    margin: auto;
}

.section-rodape .block {
	display: flex;
	margin-right: 30px;
	margin-top: 30px;
    justify-content: center;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
	
}

.section-rodape .block h3 {
	margin: 0px;
	font-size: 15px;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
}

.section-rodape ul {
	max-width: 100%;
	margin-bottom: 10px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.section-rodape .block li {
    color: var(--branco);
    line-height: 1;
	font-weight: 300;
	padding: 7px 0;
    font-size: 15px;
}

.section-rodape .block li:hover {
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
}

.block-selos img{
	display: flex;
    align-items: center;
    justify-content: center;
	max-width: 130px;
	width: 100%;
    margin: -1px auto;
}

.block-selos {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
    max-width: 100%;
}

.block-selos-footer{
	background-color: var(--branco);
}

.container-contacts {
	background-color: var(--secundary-color);
	color: var(--branco);
	padding: 10px;
	font-size: 13px;
}

.block-selos img.footer-image-payment {
	max-width: 260px;
}