/* var cores */

:root {
    --branco: #FFF;
	--preto: #000;
	--primary-color: #73001b;
	--secundary-color: #fd646f;
	--tertiary-color: #3753b8;
	--quartenary-color: #5d5d5d;


    --Lato: 'Lato', sans-serif;
}


body{
	margin:0;
	font-family: var(--Lato); 
	font-size: 9pt;
}


a {
	text-decoration: none;
	font-size: 12px;
	font-family: var(--Lato); 
}

a:hover {
	text-decoration: none;
}

ul{
	padding: 0;
	margin:0;
}

li{
	list-style-type: none;
}

p{
	margin: 0;
}

h1, h2, h3, h4{
	margin: 0;
}

/*Header*/

header .top-header {
	background-color: var(--secundary-color);
	display: flex;
    justify-content: center;
} 

.top-header-logo {
	padding: 10px;
}

header .top-header-content {
	display: flex;
	justify-content: space-between;
	width: 1200px;

}

header .top-header-content .block-right, header .top-header-content .block-left  {
	display: flex;
	margin: 10px;
}

header .tel {
	text-transform: uppercase;
}

header .top-header-content .block-right li a, header .top-header-content .block-left li a {
	color: var(--branco);
	padding: 10px;
	text-transform: uppercase;

}

header .top-header-content .block-right li a:hover, header .top-header-content .block-left li a:hover {
	color: var(--primary-color);
}
header .top-header-content .block-right li:last-child, header .top-header-content .block-left li:last-child  {
	margin-right: 0;
}

header .top-header-content .block-left li .fas {
	margin-right: 10px;
}

header .social {
	padding: 6px;
}

header .top-header-content i {
	color: var(--branco);
}

header .top-header-content a:hover i{
	color: var(--primary-color);
}

.top-header-container {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 1200px;
	margin: auto;

}

.top-header-container .top-header-logo {
	display: flex;
	align-items: center;
    justify-content: center;
}

.top-header-container .top-header-logo img {
	margin-right: 10px;
}

.top-header-container .top-header-search {
	display: flex;
	align-items: center;
    justify-content: center;
	margin: auto;
}

.top-header-search .search {
	border: 1px solid var(--secundary-color);
	border-radius: 8px;

}

.input-search {
	width: 440px;
    height: 45px;
    border-radius: 5px;
	border: none;
	margin-left: 15px;

}

.input-search:focus-visible {
	outline: none;
}


.search-button {
	border-radius: 5px;
    width: 67px;
    height: 50px;
    background-color: var(--secundary-color);
	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: var(--primary-color);
}

.search-button i {
	color: var(--branco);
	font-size: 20px;
}

.top-header-container .top-header-links ul {
	display: flex;
	align-items: center;
    justify-content: center;
	
}

.top-header-container .top-header-links a {
	color: var(--quartenary-color);
	margin: 10px;
	display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-weight: bold;
	color: var(--secundary-color);
	text-transform: uppercase;
	text-decoration: none;

}

.top-header-container .top-header-links a:hover {
	color: var(--primary-color);
}
.top-header-container .top-header-links a:hover .fa{
	color: var(--primary-color);
}

.top-header-container .top-header-links .fa {
	margin-right: 4px;
	margin-bottom: 5px;
	font-size: 25px;
	color: var(--secundary-color);
} 

.top-header-links .mini-cart {
	position: relative;
	background-color: var(--branco);
}

.top-header-links .mini-cart-wrapper {
	position: absolute;
	background-color: var(--branco);
	right: 0;
	width: 225px;
	border-radius: 15px;
    border: 2px solid var(--secundary-color);

}

.top-header-links .mini-cart-wrapper .items {
	display: flex;
	flex-direction: column;


	
}

.top-header-links .mini-cart-wrapper .item {
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
}

.top-header-links .mini-cart-wrapper .item img {
	max-width: 50px;
}

.mini-cart-wrapper {
	display: none;
	z-index: 2; /* posição: Atrás ou frente de algum elemento. */
}

.owl-nav {
	position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-carousel.owl-loaded.owl-drag {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owl-prev, .owl-next {
	width: 55px;
	height: 55px;
	font-size: 70px !important; 
	background-color: var(--secundary-color) !important;
	border-radius: 8px;
	margin: 5px;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
	background-color: var(--primary-color)!important;
}

.owl-prev span, .owl-next span {
	position: relative;
	top: -15px;
	color: var(--branco);
}
.menu-nav ul {
	display: flex;
    margin: 0px;
    justify-content: center;
} 

.menu-nav {
	background-color: var(--secundary-color);
	
}

.menu-nav a {
	padding: 15px 10px;
	display: flex;
	font-size: 13px;
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
}

.menu-nav a:hover {
	color: var(--primary-color);
}

.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products:hover .product-image-wrapper .wish-list {
	display: block;
}

.section-products {
	width: 1200px;
    margin: auto;
	margin-top: 35px;
}

.section-products .products-clothes {
	display: flex;
	text-align: center;
	margin-left: 10px;
	justify-content: space-between;
}

.product-name {
	display: flex;
	color: var(--preto);
	font-weight: bold;
    text-transform: uppercase;
	font-size: 15px;
	justify-content: center
	
}

.product-price {
	display: flex;
	color: var(--preto);
	font-weight: bold;
    text-transform: uppercase;
	font-size: 20px;
	justify-content: center;
	margin: 10px;
	
}

.add-to-cart {
	padding: 8px 45px;
    border-radius: 50px;
    border: none;
    background-color: var(--tertiary-color);
    margin: 30px 0;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: lowercase;
	max-width: 160px;
	cursor: pointer;
}

.add-to-cart:hover {
	background-color: var(--primary-color);
	
}

.product-image-wrapper {
	position: relative;
}

.product-image-wrapper .wish-list {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	background-color: var(--tertiary-color);
	color: var(--branco);
	padding: 10px;
	font-weight: bold;
	border-radius: 50px;

}

.mini-cart-wrapper .item .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mini-cart-wrapper .item .info .price {
	font-size: 15px;
} 

.mini-cart-wrapper .item .info .name {
	font-size: 13px;
	margin-bottom: 10px;
}

.product-image-wrapper .promotion {
	position:absolute;
	background-color: var(--tertiary-color);
	color: var(--branco);
	padding: 10px;
	left: 0;
	font-weight: bold;
	border-radius: 50px;
	
}


.carousel-banners-second {
	width: 1200px;
    margin: auto;
}

.section-products-second {
	width: 1200px;
    margin: auto;
	margin-top: 35px;
}

footer {
	text-align: center;
	margin: none;
}

.container-contacts {
	background-color: var(--secundary-color);
	color: var(--branco);
	padding: 10px;
	font-size: 13px;
}

